
.noteCard{
    border: none;
    padding: 10px;
    margin-right: 10px;
    background-color: #12123af1;
    box-shadow: 2px 2px 4px #998888;
  
}

.noteCard  h2 {
    font-size: 19px;
    color: #2C2626
}

.noteCard a {
    text-decoration: none;
    color: white;
}

.noteInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noteInfo span {
    font-size: 15px;
}

.deleteNote {
    background-color: #BFB8AD;
    border: none;
}
