
.noteCard{
    border: none;
    padding: 10px;
    margin-right: 10px;
  
}

.noteCard  h2 {
    font-size: 19px;
    color: #2C2626
}

.noteCard a {
    text-decoration: none;
}

.noteInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noteInfo span {
    font-size: 15px;
}

.deleteNote {
    background-color: #BFB8AD;
    border: none;
}
