.back-button{
    font-family: 'Big Shoulders Inline Text', cursive;
    border: none;
    font-size: 18px;
    padding: 20px;
    padding: 20px;
    background-color: #f41919bf;
    color: white;
}

